<a href="https://colab.research.google.com/github/ar1emon/LEARNPYTHON/blob/main/AD_ForLoops1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# For Loops 

---

When you know how many times a loop should run you can use a *for* loop.  

Here is an example:  

Suppose we want to read 10 numbers from the keyboard, add them up and print the total. We can use a *for* loop as we know that we want to read from the keyboard exactly 10 times.

The logic is:

In [ ]:
# initialise a total so that it starts at 0
# read 10 numbers from the keyboard and keep a running total
# print the total

def read_ten_nums():
  total = 0
  for i in range(10):
    num = int(input("Enter a number"))
    total = total + num
  print(total)

read_ten_nums()

Enter a number4
Enter a number7
Enter a number6

KeyboardInterrupt: ignored

The *for* loop here repeats 10 times. Each time round the loop, a number is read and is added to the total. After this has happened 10 times, the total will be printed.

Notice that all the code to be repeated in the loop is indented, but the instruction to print is not indented like the lines above. This is because print(total) is not included in the loop, it should only run once.

You can use a *for* loop on Strings too:

In [ ]:
def print_characters():
  word = "learning"
  for letter in word:
    print(letter)
print_characters()

l
e
a
r
n
i
n
g

### Using the range() function:

If we would like a selection of numbers within a defined range we can use the **range()** function.

It can be used in the following ways:

* **range(n)** - this would give all numbers in the range 0 to n-1 

* **range(num1, num2)** - this would give all numbers in range num1 to num2-1

For example:

If we wanted numbers within the range of 1 - 5 we would write this as range(1, 6) 

* the second argument must always be the number you would like the range to go up to + 1 (n+1)

Here is an example that prints all the numbers up to 5, (starting at 0 as this is the default if there is no other information).  Run the code below:

In [ ]:
def show_range():
  for i in range(6):
    print(i)

show_range()

0
1
2
3
4
5

Here is an example that prints all numbers in range 1 - 5, run the code below:

In [ ]:
def show_range():
  for i in range(1, 6):
    print(i)

show_range()

1
2
3
4
5

## Using steps

In general, if we use a range, we give a starting number and a stopping number (the first number that is out of the range in the direction we are counting).  The default is to count up in 1s.  

When we want a loop to count in bigger steps, we can add a further parameter in the range brackets, which represents the size of the step.

e.g. to print the even numbers up to 10 (starting with the first even number)

```
for i in range(2,11,2):
   print(i)
```

e.g. to print all multiples of 5 from 5 to 50 (starting with the first multiple)


```
for i in range(5,51,5):
   print(i)
```

We can use steps to **reverse** the direction of counting.  So to count backwards from 10 to 1, we can use a step of -1.  Again, use the starting number, the number AFTER the last number to be included, in the direction we are counting, and the size and direction of the step. 

```
for i in range(10, 0, -1):
   print(i)
```

### Take home point

* we use *for* loops to make a section of code repeat a set number of times

---
### Exercise 1 - number list

Write a function called **list_numbers()** which will:  

*  print all the whole numbers up to 9  

Expected output:  
0  
1  
2  
3  
4  
5  
6  
7  
8  
9

In [ ]:
def list_numbers():
  for i in range(10):
    print(i)
list_numbers()

0
1
2
3
4
5
6
7
8
9

---
### Exercise 2 - list number range  

Write a function called **list_number_range()** which will:  

* print the numbers between 5 and 15 (including both)  

Expected output:  
5  
6  
7  
8  
9  
10  
11  
12  
13  
14  
15

In [ ]:
def list_number_range():
  for index in range(5,16,1):
    print(index)
list_number_range()

5
6
7
8
9
10
11
12
13
14
15

---
### Exercise 3 - list evens  

Write a function called **list_evens()** which will:  

*  print the even numbers from 2 to 20  

Expected output:  
2  
4  
6  
8  
10  
12  
14  
16  
18  
20

In [ ]:
def list_evens():
  for index in range(2,21,2):
    print(index)
list_evens()

2
4
6
8
10
12
14
16
18
20

---
### Exercise 4 - list multiples  

Write a function called **list_multiples()** which will:

*  list the multiples of 3 from 3 to 36

Expected output:  
3  
6  
9  
12  
15  
18  
21  
24  
27  
30  
33  
36

In [ ]:
def list_multiples():
  for index in range(3,37,3):
    print(index)
list_multiples()

3
6
9
12
15
18
21
24
27
30
33
36

---
### Exercise 5 - reverse list

Write a function called list_reverse() which will: 

*  print the numbers 5 to 15 in reverse

Expected output:  
15  
14  
13  
12  
11  
10  
9  
8  
7  
6  
5

In [ ]:
def list_reverse():
  for index in range(15,5,-1):
    print(index)
list_reverse()

15
14
13
12
11
10
9
8
7
6

---
### Exercise 6 - sum of range

Write the function **calculate_sum_of()** which will:

*  set a total to 0
*  use the `range()` function for all the numbers between 1 - 15, adding each onto a **total** in the `for loop`     
*  print the `total`   


Expected output:  
120

In [ ]:
def calculate_sum_of():
  #
  total = 0
  for i in range(1,16):
    total += i
  print(total)
calculate_sum_of()

120

### Exercise 7 - calculating the average of 5 numbers   

Write a function called **average()** which will:  

*  set a total to 0
*  ask the user to enter a number 5 times, using a `for loop` with a range and adding the numbers to the `total` as the loop continues  
*  calculate the **average** of the 5 numbers  
*  print the `total` and `average`  

Test input:  
1  
2   
3  
4  
5  

Expected output:   
3

In [ ]:
def average():
  total = 0
  for num_loop in range(5):
    num = int(input("enter number"))
    total += num
  average = total / 5
  print(int(average))
average()

enter number1
enter number2
enter number3
enter number4
enter number5
3

### Exercise 8 - calculating times table

Write a function called **display_times_table()** which will:  

*  ask the user to input a **number**
*  use a for loop and the `range()` function to calculate the first ten multiples of that number and print a times table entry as shown below 

Test Input:  
4  

Expected output:  
1 x 4 = 4  
2 x 4 = 8  
3 x 4 = 12  
4 x 4 = 16  
5 x 4 = 20  
6 x 4 = 24  
7 x 4 = 28  
8 x 4 = 32  
9 x 4 = 36  
10 x 4 = 40

In [9]:
def display_times_tables():
  number = int(input("Input a number "))
  #use the for loop to request the multiplication 10 times
  for count in range(1,11):
    print(number, 'x', count, '=', (number * count))
display_times_tables()

Input a number 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

### Exercise 9 - counting down numbers in reverse 

Write a function called **countdown()** which will:

*  ask the user to input a **number**
*  prints numbers in a countdown starting at `number`, decreasing by 1 each time round the loop and finishing at 1
*  after the loop, print ("GO") 

Test Input:  
9    

Expected output:   
9  
8  
7  
6  
5  
4  
3  
2  
1  
GO

In [12]:
def countdown():
  number = int(input("Enter a number"))
  for count in range(number, 0, -1):
    print(count)
countdown()

Enter a number4
4
3
2
1

### Exercise 10 - finding numbers which are multiples of both 3 and 10, between 500 and 1500  

Write a function called **find_multiples()** which will find numbers between 500 - 1500 which are multiples of 3 and multiples of 10:

*  use a for loop and the `range()` function  
*  use an *if* statment to determine if a number is a multiple of 3 (number % 3 is 0) and a multiple of 10 (calculated the same way).  If the number is a multiple of 3 and 10, print it.      

Expected output:  
510  
540  
570  
600  
630  
660  
690  
720  
750  
780  
810  
840  
870  
900  
930  
960  
990  
1020  
1050  
1080  
1110  
1140  
1170  
1200  
1230  
1260  
1290  
1320  
1350  
1380  
1410  
1440  
1470

In [20]:
def find_multiples():
  for count in range(500, 1500):
    if count % 3 is 0 and count % 10 is 0:
      print(count)
find_multiples()

510
540
570
600
630
660
690
720
750
780
810
840
870
900
930
960
990
1020
1050
1080
1110
1140
1170
1200
1230
1260
1290
1320
1350
1380
1410
1440
1470